:root {
    --background-dark: linear-gradient(to right, rgb(0, 0, 0), rgb(10, 10, 99));
    --text-dark: rgb(255, 255, 255);
    --background-light: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    --text-light: rgb(0, 0, 0);
  }
  
  body {
    background: var(--background-dark);
    color: var(--text-dark);
    transition: background 0.5s, color 0.5s;
  }
  
  body.lightmode {
    background: var(--background-light);
    color: var(--text-light);
  }
  